* {
    padding: 0;
    margin: 10px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #fdf2f8;
}

.nav {
    background-color: #fbcfe7;
    /* border: 1px solid black; */
    margin: 20px;
}

.nav ul{
    list-style: none;
    display: flex;
    justify-content: left;
}

.nav li {
    margin-top: 20px;
    font-size: small;
    text-transform: uppercase;
    /* background-color: #fce7f3; */
    height: 25px;
    width: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.nav li:hover{
    cursor: pointer;
    color: #da2873;
}

.nav h1 {
    text-align: center;
    margin: 1rem;
    padding-bottom: 10px;
    letter-spacing: 5px;
    font-style: italic;
    color: #da2873;
}

.container .p1 {
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}

.receta {
    justify-content: left;
    width: 450px;
    height: 120px;
    /* margin: 1rem; */
    color: #da2873;
}

h6 {
    font-size: 20px;
}


li {
    margin-left: 2rem;
}

footer {
    background-color: #fbcfe7;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #da2873;
}

.sucursales ul {
    list-style: none;
}

.sucursales li {
    margin: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}


.mapas ul {
    list-style: none;
    display: flex;
    padding: 1rem;
}